<footer>
  <div class="footer-top">
    <div class="inner">
      <div class="flex">
        <div class="box">
          <a href="/pages/faq#order/">
            <img src="https://cdn.shopify.com/s/files/1/0706/1687/5244/files/icon-order-pay.svg" alt="">
            ご注文・お支払いについて
          </a>
        </div><!-- /.box -->
        <div class="box">
          <a href="/pages/faq#shipping">
            <img src="https://cdn.shopify.com/s/files/1/0706/1687/5244/files/icon-shipping.svg" alt="">
            配送・送料について
          </a>
        </div><!-- /.box -->
        <div class="box">
          <a href="/pages/faq#return">
            <img src="https://cdn.shopify.com/s/files/1/0706/1687/5244/files/icon-return.svg" alt="">
            返品・交換について
          </a>
        </div><!-- /.box -->
      </div><!-- /.flex -->
    </div>
  </div><!-- /.footer-top -->
  <div class="footer-bottom">
    <div class="inner flex">
      <div class="column column01">
        <div class="logo">
          <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0706/1687/5244/files/logo01.png" alt=""></div>
          <p>飲食店・ホテル様向け 業務用通販サイト</p>
        </div><!-- /.logo -->
        <div class="footer-icon">
          <a href="/account/"><img src="https://cdn.shopify.com/s/files/1/0706/1687/5244/files/icon-login.svg" alt="">ログイン</a>
          <a href="/cart/"><img src="https://cdn.shopify.com/s/files/1/0706/1687/5244/files/icon-cart.svg" alt="">カート</a>
        </div>
      </div><!-- /.column -->
      <div class="column column02">
        <nav>
          <ul>
            <li><a href="{{ routes.root_url }}">TOP</a></li>
            <li><a href="/pages/about/">兼正青果が選ばれる理由</a></li>
            <li><a href="/pages/faq/">よくあるご質問</a></li>
            <li><a href="/pages/contact-form/">お問い合わせ</a></li>
          </ul>
        </nav>
      </div><!-- /.column -->
      <div class="column column03">
        <nav>
          <ul>
            <li><a href="/collections/all/">商品一覧</a></li>
            <li class="child"><a href="/collections/vegetables/">・野菜</a></li>
            <li class="child"><a href="/collections/fruit/">・果物</a></li>
            <li class="child"><a href="/collections/other/">・その他</a></li>
            <li class="child"><a href="/collections/standard/">・定番商品</a></li>
            <li class="child"><a href="/collections/seasonal/">・季節限定</a></li>
          </ul>
        </nav>
      </div><!-- /.column -->
      <div class="column column04">
        <nav>
          <ul>
            <li><a href="/pages/company/">会社概要</a></li>
            <li><a href="/pages/terms/">特定商取引法に基づく表記</a></li>
            <li><a href="/pages/policy/">プライバシー</a></li>
          </ul>
        </nav>
      </div><!-- /.column -->
      <div class="column column05">
        <a class="btn-contact" href="/pages/contact-form/"><img src="https://cdn.shopify.com/s/files/1/0706/1687/5244/files/icon-mail.svg" alt="">お問い合わせ</a>
        <a class="tel" href="tel:0988618575">
          <img class="u-pc" src="https://cdn.shopify.com/s/files/1/0706/1687/5244/files/icon-tel.svg" alt="">
          <p>098-861-8575<br><span>8:00〜16:00 水・日・祝休</span></p>
        </a>
        <p class="address">〒900-0001 沖縄県那覇市港町2-14-24</p>
      </div><!-- /.column -->
    </div><!-- /.inner -->
  </div><!-- /.footer-bottom -->
  <p class="copiyewright"><small>© KANEMASA SEIKA. All rights reserved.</small></p>
</footer>