<div class="under-mv p-about">
  <div class="img-box">
    <picture>
      <source srcset="https://cdn.shopify.com/s/files/1/0706/1687/5244/files/about-mv_sp.jpg" media="(max-width: 769px)">
      <img src="https://cdn.shopify.com/s/files/1/0706/1687/5244/files/about-mv.jpg" alt="">
    </picture>
  </div>
  <div class="ttl">
    <h2>兼正青果が選ばれる理由</h2>
    <p class="sub-ttl">Features</p>
  </div>
</div><!-- /.mv -->

<section class="p-under p-about_wrap01">
  <div class="inner">
    <div class="img-box obj-fit u-sp"><img src="https://cdn.shopify.com/s/files/1/0706/1687/5244/files/about-img01_sp.jpg" alt=""></div>
    <h2>笑顔あふれる<br>新鮮・美味いをお届けします。</h2>
    <p>
      新鮮な野菜や果物を、新鮮なうちにお届けしたい。<br>
      私たち兼正青果は、地産地消の推進はもちろん、築地市場をはじめとした各主要産地から和・洋・中、特殊野菜など「良いもの」を仕入れ、1つ1つの商品を熟知したスタッフがお客様へお届けしております。鮮度を皆様へ。<br>
      生産者と消費者をつなぐ笑顔の架け橋として、私たち兼正青果は今日も全力で走ります。
    </p>
    <div class="img-box obj-fit u-pc">
      <img src="https://cdn.shopify.com/s/files/1/0706/1687/5244/files/about-img01.jpg" alt="">
    </div>
  </div><!-- /.inner -->
  <div class="img-box">
    <picture>
      <source srcset="https://cdn.shopify.com/s/files/1/0706/1687/5244/files/about-img02_sp.jpg" media="(max-width: 769px)">
      <img src="https://cdn.shopify.com/s/files/1/0706/1687/5244/files/about-img02.jpg" alt="">
    </picture>
  </div>
  <div class="ashirai img-box"><img src="https://cdn.shopify.com/s/files/1/0706/1687/5244/files/ashirai-goya.png" alt=""></div>
</section><!-- /.p-about_wrap01 -->

<section class="p-under p-about_wrap02">
  <div class="asirai-obi img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0706/1687/5244/files/ashirai-obi02.svg" alt=""></div>
  <div class="inner">
    <div class="box flex">
      <div class="sub-ttl u-md">Features <span>01</span></div>
      <div class="left img-box obj-fit">
        <img src="https://cdn.shopify.com/s/files/1/0706/1687/5244/files/about-img03.jpg" alt="">
      </div>
      <div class="right">
        <div class="sub-ttl u-pc-md">Features 01</div>
        <h2>野菜の目利きへのこだわり</h2>
        <p>
          兼正青果は、青果物全般を幅広く扱っており、ホテルやレストラン、居酒屋など食のプロを相手に食材をご提供しています。<br>
          独自の冷蔵施設と、商品の特徴を熟知したスタッフにより沖縄県内外問わず新鮮な青果をお届けすることができ、信頼を得ています。<br>
          また、ピッキング出荷等の配送センター機能を持っているため沖縄産農産物を全国各地へお届けすることもできます。<br>
          私たちは、青果専門業だからできる“農家・産地→家庭につなぐ”取り組みをしています。
        </p>
      </div>
    </div><!-- /.box -->
    <div class="box flex">
      <div class="sub-ttl u-md">Features <span>02</span></div>
      <div class="left img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0706/1687/5244/files/about-img04.jpg" alt=""></div>
      <div class="right">
        <div class="sub-ttl u-pc-md">Features 02</div>
        <h2>品質管理へのこだわり</h2>
        <p>
          兼正青果は独自の仕入れルートを持っているため沖縄県外から直接代理で仕入れと配送業務を請け負っております。弊社の冷蔵施設で保管し配送するため、高い鮮度でご提供が可能です！納品スピードを重視し多くの飲食店様、ホテル様から信頼を得ています。<br>
          <br>
          ゴーヤー、島らっきょう、よもぎ、パパイヤ、ハンダマなどの沖縄野菜や、マンゴーやフルーツパパイヤ、パッションフルーツなどの県産フルーツも数多く取り扱っております。
        </p>
      </div>
    </div><!-- /.box -->
  </div><!-- /.inner -->
  <div class="asirai-obi img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0706/1687/5244/files/ashirai-obi02.svg" alt=""></div>
  <div class="ashirai goya img-box"><img src="https://cdn.shopify.com/s/files/1/0706/1687/5244/files/ashirai-goya.png" alt=""></div>
  <div class="ashirai negi img-box"><img src="https://cdn.shopify.com/s/files/1/0706/1687/5244/files/ashirai-negi.png" alt=""></div>
  <div class="ashirai kinoko img-box"><img src="https://cdn.shopify.com/s/files/1/0706/1687/5244/files/ashirai-kinoko.png" alt=""></div>
</section><!-- /.p-about_wrap02 -->