<div class="under-mv p-contact">
  <div class="img-box obj-fit">
    <picture>
      <source srcset="https://cdn.shopify.com/s/files/1/0706/1687/5244/files/under-mv_sp.jpg" media="(max-width: 769px)">
      <img src="https://cdn.shopify.com/s/files/1/0706/1687/5244/files/under-mv.jpg" alt="">
    </picture>
  </div>
  <div class="ttl">
    <h2>お問い合わせ</h2>
    <p class="sub-ttl">Contact</p>
  </div>
</div><!-- /.mv -->

<section class="p-under p-contact_wrap01">

    <div class="inner">
      <p class="message">
        お問い合わせは、下記お電話またはメールフォームにて承ります。<br>
        また、お客さまからよく寄せられる質問とその回答を、<a href="faq.html">「よくある質問」ページ</a>にまとめておりますので、ぜひご覧ください。
      </p>

      <div class="contact-tel">
        <p>お電話から</p>
        <a href="tel:09898618575"><img src="https://cdn.shopify.com/s/files/1/0706/1687/5244/files/icon-tel.svg" alt="">098-861-8575</a>
        <p class="business-hours">営業時間｜10:00 ~ 18:00（電話受付時間）</p>
      </div>
    </div>

    <div class="form_wrap">
      <div class="inner">
        <h2>メールフォームから</h2>
        {% section 'contact-form' %}
      </div><!-- /.inner -->
    </div>

</section><!-- /.p-contact_wrap01 -->

<div class="p-under asirai-obi img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0706/1687/5244/files/ashirai-obi02.svg" alt=""></div>