<div class="under-mv p-company">
  <div class="img-box obj-fit">
    <picture>
      <source srcset="https://cdn.shopify.com/s/files/1/0706/1687/5244/files/under-mv_sp.jpg" media="(max-width: 769px)">
      <img src="https://cdn.shopify.com/s/files/1/0706/1687/5244/files/under-mv.jpg" alt="">
    </picture>
  </div>
  <div class="ttl">
    <h2>特定商取引法の表示</h2>
    <p class="sub-ttl">Terms</p>
  </div>
</div><!-- /.mv -->

<section class="p-under p-terms_wrap01">
  <div class="inner">
    <table>
      <tr>
        <th>販売業者</th>
        <td>有限会社 兼正青果</td>
      </tr>
      <tr>
        <th>運営統括責任者</th>
        <td>古波倉　正光</td>
      </tr>
      <tr>
        <th>所在地</th>
        <td>
          〒900-0001<br>
          沖縄県那覇市港町2-14-24
        </td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td>098-861-8575</td>
      </tr>
      <tr>
        <th>FAX</th>
        <td><span>098-861-8575</span></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td>xxxxxx@sample.com</td>
      </tr>
      <tr>
        <th>取扱商品</th>
        <td>青果</td>
      </tr>
      <tr>
        <th>販売価格</th>
        <td>各商品ページをご参照ください</td>
      </tr>
      <tr>
        <th>
          商品代金以外の<br>
          必要料金
        </th>
        <td>消費税・送料はお客様のご負担となります</td>
      </tr>
      <tr>
        <th>送料について</th>
        <td>
          <span>
            ・北海道・東北地方　1,500円<br>
            ・信越・北陸・関東・東海・近畿・四国・中国　1,000円<br>
            ・九州・沖縄　500円<br>
            ※１回のご注文金額が商品代金10,000円（税込）以上の場合、全国無料配送になります。
          </span>
        </td>
      </tr>
      <tr>
        <th>申し込みの有効期限</th>
        <td>原則、受注確認（受注確認の為の自動送信メール発信）後、10日間とします。</td>
      </tr>
      <tr>
        <th>不良品</th>
        <td>
          商品が届きましたら直ちに内容のご確認をお願いいたします。<br>
          万が一不良品の疑いがございましたら、直ちにご連絡ください。<br>
          商品到着後のお客様のご都合による返品・交換は、原則としてお受けしておりません。<br>
          不良品の場合は、商品到着から1週間以内の申し出で返品対応いたします。
        </td>
      </tr>
      <tr>
        <th>販売数量</th>
        <td>特に指定はございません（商品によって設定あり）</td>
      </tr>
      <tr>
        <th>引き渡し時期</th>
        <td>
          決済完了後（代金引換を除く）、5営業日以内(土日祝日を除く)に発送いたします。<br>
          天候不順・配送業者の都合・その他何らかの理由により 遅延する場合はメール等でお知らせいたします。
        </td>
      </tr>
      <tr>
        <th>お支払い方法</th>
        <td><span>クレジットカード</span></td>
      </tr>
      <tr>
        <th>返品・交換について</th>
        <td>
          ご注文確定後のお客様都合によるキャンセル・返品・交換・ご注文内容の変更は、原則承っておりません。<br>
          商品の品質につきましては万全を期しておりますが、万が一、ご注文商品と異なる商品が届いた場合や、配送中などになんらかの不備が生じた場合は速やかに代替品などの手配を取らせていただきます。<br>
          ご注文商品と異なる商品や不良品をお届けした場合、商品到着後7日以内に下記メールアドレスまたはお電話にてご連絡いただきますようお願い申し上げます。<br>
          <span>xxxxxx@sample.com</span><br>
          098-861-8575<br>
          営業時間：10:00～18:00<br>
          商品の汚損・破損等、当店の不手際による返品の場合の送料は当店にて負担いたします。
        </td>
      </tr>
    </table>
  </div><!-- /.inner -->
  <div class="asirai-obi img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0706/1687/5244/files/ashirai-obi02.svg" alt=""></div>
</section><!-- /.p-company_wrap01 -->