<div class="under-mv p-company">
  <div class="img-box obj-fit">
    <picture>
      <source srcset="https://cdn.shopify.com/s/files/1/0706/1687/5244/files/under-mv_sp.jpg" media="(max-width: 769px)">
      <img src="https://cdn.shopify.com/s/files/1/0706/1687/5244/files/under-mv.jpg" alt="">
    </picture>
  </div>
  <div class="ttl">
    <h2>会社概要</h2>
    <p class="sub-ttl">Company</p>
  </div>
</div><!-- /.mv -->

<section class="p-under p-company_wrap01">
  <div class="inner">
    <table>
      <tr>
        <th>販売業者</th>
        <td>有限会社 兼正青果</td>
      </tr>
      <tr>
        <th>設立</th>
        <td>古波倉　正光</td>
      </tr>
      <tr>
        <th>所在地</th>
        <td>
          〒900-0001<br>
          沖縄県那覇市港町2-14-24
        </td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td>098-861-8575</td>
      </tr>
      <tr>
        <th>FAX</th>
        <td>098-861-8109</td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td>kanemasa-soumu@wing.ocn.ne.jp</td>
      </tr>
      <tr>
        <th>資本金</th>
        <td>980万円</td>
      </tr>
      <tr>
        <th>事業内容</th>
        <td>青果卸売販売業</td>
      </tr>
      <tr>
        <th>URL</th>
        <td>https://www.kanemasa-seika.com/</td>
      </tr>
    </table>
  </div><!-- /.inner -->
  <div class="asirai-obi img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0706/1687/5244/files/ashirai-obi02.svg" alt=""></div>
</section><!-- /.p-company_wrap01 -->

<section class="p-under p-company_wrap02">
  <div class="inner">
    <h2>アクセス</h2>
    <p class="sub-ttl">ACCESS</p>
    <div class="box flex">
      <div class="left">
        <h3>有限会社 兼正青果</h3>
        <p>〒900-0001 沖縄県那覇市港町2-14-24</p>
      </div>
      <div class="right">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3578.568925091929!2d127.67376807679206!3d26.243192788539424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34e56a33dd8e532f%3A0xb5cb4a885381463!2z77yI5pyJ77yJ5YW85q2j6Z2S5p6c!5e0!3m2!1sja!2sjp!4v1712025531011!5m2!1sja!2sjp" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div><!-- /.box -->
    <div class="box flex">
      <div class="left">
        <h3>丸和青果（兼正青果グループ）</h3>
        <p>〒900-0022 沖縄県那覇市樋川2-3-18</p>
      </div>
      <div class="right">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d372.3623503432877!2d127.68934039092784!3d26.211252573687425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34e56971a529599b%3A0x221ffb30bcd1ade8!2z44CSOTAwLTAwMjIg5rKW57iE55yM6YKj6KaH5biC5qiL5bed77yS5LiB55uu77yT4oiS77yR77yY!5e0!3m2!1sja!2sjp!4v1712025774542!5m2!1sja!2sjp" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div><!-- /.box -->
  </div><!-- /.inner -->
</section><!-- /.p-company_wrap02 -->

<div class="p-under asirai-obi img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0706/1687/5244/files/ashirai-obi02.svg" alt=""></div>